<ion-header>
  <ion-toolbar >
    <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Listado Noticias</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

    <ion-card *ngFor="let noticia of noticias; let indice = index"  >
        <ion-card-header>
          <ion-card-title>{{noticia.titulo}}</ion-card-title>
        </ion-card-header>
      

   

        <ion-card-content [routerLink]="'/noticia-detalle/' +  noticia.noticiaID ">
          {{noticia.descripcion}}
          <p> <strong> Autor: </strong> {{noticia.autor.nombre}} {{noticia.autor.apellido}}</p>
          <p><strong>Fecha: </strong> {{noticia.fecha | date}}</p>

         

        </ion-card-content>
        <ion-buttons slot="start">
            <ion-button color="danger" (click)="eliminarNoticia(noticia.noticiaID, indice )">Eliminar</ion-button>
            <ion-button color="primary" (click)="editar(noticia)" >Editar</ion-button>
        </ion-buttons>
    </ion-card>


</ion-content>
